*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px 80px;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    /* border: 2px solid blueviolet; */
}
.pic{
    width: 185px;
    height: 80px;
    
}
.nav-manu{
    display: flex;
    gap: 20px;
}
.nav-manu a{
    text-decoration: none;
    margin-left: 20px;
    /* font-weight: 500; */   
}
.item{
    color: #252432;
    font-weight: bold;
}
.item-hero{
    color: #8987A1;
}
.right i{
    
    margin-right: 5px;  
}
.right{
    color: #252432;
}
.banner{
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    flex-wrap: wrap;
    align-items: end;
    /* border: 2px solid turquoise; */
}
.banner-text, .banner-image{
    padding: 20px;
    flex: 1 1 50%;
}
.banner-text h1{
    font-size: 2.2rem;
    line-height: 1.3;
}
.bold{
    color: #000000;
    font-weight: bold;
    /* font-size: 60px; */
}
.orange{
    color: #E95A08;
    font-weight: bold;
    /* font-size: 60px; */
}
.banner-text p{
    margin-top: 10px;
    color: #000000;
    font-size: 20px;
    line-height: 1.3;
    
}
.banner-image img{
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width:592px){
         .nav-manu a{
            display: none;
         }
         .right-side{
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        
         }
         .logo{
            flex: 1;
         }
         .banner{
            flex-direction: column;
         }
         .banner-image, .banner-text{
            flex: 1 1 100%;
            padding: 15px;
            text-align: center;
         }
         .banner-text h1{
            font-size: 1.8rem;
         }
         .banner-text p{
            font-size: 0.9rem;
         }
         }
  
         
    
   
      
      


